<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Test</title>
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <div class="flex container mx-auto">
        <div class="grid grid-cols-3 gap-4 mt-9">
            <a href="/twitter-new-post" class="rounded-lg shadow-lg bg-white h-full p-4 flex flex-col items-center justify-center">
                <img src="/assets/twitter-modal.png" class="p-2" />
                <div>Twitter Modal</div>
            </a>
            <a href="/iphone-lock-screen" class="rounded-lg shadow-lg bg-white h-full p-4 flex flex-col items-center justify-center">
                <img src="/assets/iphone.png" class="p-2" />
                <div>iPhone Lock Screen</div>
            </a>
        </div>
    </div>
</body>
</html>